:root {
    --primary-color: rgb(201, 42, 30);
    --secondary-color: oldlace;
    --dark-font: hsl(7,10%,20%);
}

.anybody-font {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cormorant-garamond-font {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    background: var(--secondary-color);
    color: var(--dark-font);
    font-family: "Cormorant Garamond", serif;
}

/*header*/
header {
    text-align: center;
    font-family: "Anybody", sans-serif;
}
header h1 {
    margin: 20px auto;
    padding: 20px;
    font-size: 4em;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 10px 0;
}
nav li {
  transition: transform 0.3s ease-in-out;
}
nav a {
    text-decoration: none;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 10px; 
}
nav li:hover {
  transform: scale(1.1);
}
nav a:hover {
  background: var(--dark-font);
  color: var(--secondary-color);
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}


/*hero section - recipe book*/
.hero-section { /*if you get here you're back to where you started*/
  background-image: url('imgs/barbecue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'grid-item4 grid-item1'
    'grid-item4 grid-item2'
    'grid-item4 grid-item3'
    'grid-item4 .';
  height: 400px;
  padding: 25px;
  gap: 5px;
  margin-top: 30px;
}
.grid-item1 {
  grid-area: grid-item1;
  font-size: 2em;
  padding: 0 40px;
  margin: 20px 0 0 0;
  text-align: right;
}
.grid-item2 {
  grid-area: grid-item2;
  padding: 0 40px;
  margin: 0;
  text-align: right;
}
.grid-item3 {
  grid-area: grid-item3;
  padding: 5px 20px;
  background: var(--dark-font);
  color: var(--secondary-color);
  font-family: "Anybody", sans serif;
  font-weight: 600;
  font-size: 1em;
  margin: 20px auto 0;
  border-radius: 3px;
}
.grid-item3:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--dark-font);
}
.grid-item4 /*img*/ {
  grid-area: grid-item4;
  min-width: 40%;
  max-width: 50%;
  border-radius: 5px;
  transform: rotate(-30deg);
  border: 10px ridge var(--secondary-color);
  place-self: center;
}


/*about section*/
#about {
  width: 80vw;
  margin: 4rem auto;
}


/*recipe section*/
#recipes {
    display: block;
    margin: 20px auto;
}
.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
article {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    width: 30%;
    padding: 10px;
    margin: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
article img {
    width: 60%;
    height: auto;

}
.ingredients {
    text-align: center;
}
article:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}


footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Anybody", sans-serif;
}
.contact-info {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.contact-info a {
    color: var(--dark-font);
}


/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  p:not(.footer-grid2, .footer-grid3, .footer-grid4) {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  /*header*/
  nav li {
    font-size: 1.5rem;
    padding: 10px;
  }

  /*hero section*/
  .grid-item3 {
    padding: 10px 20px;
    font-size: 1.5em;
  }
  
  /*recipes*/
  article {
    min-width: 40%;
    min-height: 450px;
  }
  article h3 {
    font-size: 2em;
  }


  /*footer*/
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'footer-grid1 footer-grid2'
    'footer-grid1 footer-grid3'
    'footer-grid1 footer-grid4';
    font-size: 1.75em;
    padding: 20px;
  }
  .footer-grid1 {
    grid-area: footer-grid1;
    place-self: center;
    margin: 0;
  }
  .footer-grid2 {
    grid-area: footer-grid2;
  }
  .footer-grid3 {
    grid-area: footer-grid3;
  }
  .footer-grid4 {
    grid-area: footer-grid4;
  }
  .footer-grid2, .footer-grid3, .footer-grid4 {
    text-align: right;
    margin: 0;
  }
}


/*mobile*/
@media (min-width: 350px) and (max-width: 767px) {
  /*header area*/
  header h1 {
    font-size: 3rem;
  }
  nav ul {
    flex-wrap: wrap;
  }
  nav li {
    margin: 10px 5px;
  }

  /*hero section*/
  .hero-section {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    margin-top: 0;
  }
  .grid-item1 {
    text-align: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0 20px;
  }
  h2 {
    font-size: 2em;
  }
  .hero-section img, .grid-item2 {
     display: none; 
  }
  .grid-item3 {
    padding: 10px 20px;
    font-size: 1.5em;
  }

  /*recipes*/
  #recipes {
    width: 70%;
  }
  .recipe-cards {
    display: block;
  }
  article {
    min-width: 90%;
    max-width: 100%;
    margin: 10px auto;
  }

  /*footer*/
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'footer-grid1 footer-grid2'
    'footer-grid1 footer-grid3'
    'footer-grid1 footer-grid4';
    font-size: .8em;
    padding: 10px;
  }
  .footer-grid1 {
    grid-area: footer-grid1;
    place-self: center;
    margin: 0;
  }
  .footer-grid2 {
    grid-area: footer-grid2;
  }
  .footer-grid3 {
    grid-area: footer-grid3;
  }
  .footer-grid4 {
    grid-area: footer-grid4;
  }
  .footer-grid2, .footer-grid3, .footer-grid4 {
    text-align: right;
    margin: 0;
  }
}